*{
    box-sizing: border-box;
}

main {
    position: relative;
}

body {
    width: 100%;
    background-color: #242333;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

h1 {
    font-size: 80px;
}

.contenedor-mensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 80px;
    background-color: grey;
    border-radius: 10px;
}

.mensaje-intentos {
    font-size: 30px;
}

.contenedor {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px; 
    text-align: center;
}

.letra {
    background-color: #444451;
    color: white;
    display: inline-block;
    text-align: center;
    height: 60px;
    width: 60px;
    font-size: 40px;
    margin: 5px 5px;
    border-radius: 4px;
    border: solid white 2px;
}

h1 {
    text-align: center;
}

#contenedor-mensaje-final {
    text-align: center;
    padding-top: 40px;
    display: none;
    width: 400px;
    height: 70px;
    font-size: 25px;
}

#mensaje-final {
    text-align: center;
}

#botones {
    width: 600px;
    text-align: center;
    margin-bottom: 30px;
}

#letras-incorrectas {
    margin-top: 20px;
}

.letra.correcta {
    background-color: rgb(69, 206, 69);
}

.letra.incorrecta {
    background-color: crimson;
}

.letra:hover {
    transform: scale(1.3);
    cursor: pointer;
}

#contenedor-palabra {
    width: 600px;
    height: 150px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: grey 5px solid;
    border-radius: 20px;
}

#palabra {
    font-size: 60px;
    margin: 60px 60px;
}

.boton-popup {
    position: absolute;
    right: 60px;
    bottom: 60px;
    width: 100px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 7px;
}

.normas {
    visibility: hidden;
}

.envoltorio-popup {
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background-color: black;
    position: relative;
    border-radius: 10px;
}

.popup a{
    background: rgb(81, 237, 81);
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 5px;
}

.cerrar-popup {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}