*{
    box-sizing: border-box;
}

main {
    position: relative;
}

body {
    width: 100%;
    background-color: #242333;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

h1 {
    font-size: 65px;
}

#tiempoRestante {
    margin-bottom: 20px;
}

.listContainers {
    display: flex;
    margin: 0;
    list-style-type: none;
}

.listContainers > li {
    display: inline-block;
    margin: auto 60px;
}

.mensaje-tiempo {
    font-size: 30px;
}

.contenedor-tiempo {
    text-align: center;
    width: 290px;
    height: 100px;
    background-color: grey;
    border-radius: 10px;
}

.contenedor-mensaje {    
    width: 290px;
    height: 60px;
    background-color: grey;
    border-radius: 10px;
}

.mensaje-intentos {
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}


.contenedor {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px; 
    text-align: center;
}

.letra {
    background-color: #444451;
    color: white;
    display: inline-block;
    text-align: center;
    width: 70px;
    height: 70px;
    font-size: 45px;
    margin: 5px 5px;
    border-radius: 4px;
    border: solid white 2px;
}

h1 {
    text-align: center;
}

#contenedor-mensaje-final {
    text-align: center;
    padding-top: 40px;
    display: none;
    width: 400px;
    height: 70px;
    font-size: 25px;
}

#mensaje-final {
    text-align: center;
}

#botones {
    width: 600px;
    text-align: center;
    margin-bottom: 30px;
}

#letras-incorrectas {
    margin-top: 20px;
    font-size: 40px;
}
/* 
.letra.correcta {
    background-color: rgb(69, 206, 69);
}

.letra.incorrecta {
    background-color: crimson;
} */

.letra:hover {
    transform: scale(1.3);
    cursor: pointer;
}

#contenedor-palabra {
    width: 600px;
    height: 150px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: grey 5px solid;
    border-radius: 20px;
}

.mensajeTematica {
    margin: 10px 0;
    font-size: 30px;
}

#botonesTematica {
    text-align: center;
}

#botonesTematica > button {
    width: 80px;
    height: 30px;
    font-size: 15px;
}

#elegirTematica {
    margin: 20px 0;
}

#palabra {
    font-size: 60px;
    margin: 60px 60px;
}

.boton-popup {
    position: absolute;
    right: 60px;
    bottom: 60px;
    width: 100px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 7px;
}

.normas {
    visibility: hidden;
}

.envoltorio-popup {
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background-color: black;
    position: relative;
    border-radius: 10px;
}

.popup a{
    background: rgb(81, 237, 81);
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 5px;
}

.cerrar-popup {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

@media screen and (min-width:705px)  and (max-width: 1100px) {
    
    h1{
        font-size: 45px;
    }

    .listContainers > li {
        margin: 40px 60px;
    }

    .contenedor-mensaje {
        width: 160px;
        height: 80px;
    }

    .contenedor-tiempo {
        width: 160px;
        height: 120px;
    }

    .contenedor-tiempo > div {
        font-size: 25px;
    }

    .contenedor-mensaje > div{
        font-size: 25px;
    }

    .letra {
        width: 60px;
        height: 50px;
        font-size: 30px;
    }

    #palabra {
        font-size: 50px;
    }
}

@media screen and (min-width:601px) and (max-width: 704px) {

    h1 {
        font-size: 40px;
    }

    .listContainers > li {
        margin: 40px 30px;
    }

    .mensaje-intentos {
        font-size: 20px;
    }

    .mensaje-tiempo {
        font-size: 20px;
    }

    .contenedor-mensaje {
        width: 140px;
    }

    #palabra {
        font-size: 38px;
    }

    .letra {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .contenedor-tiempo {
        width: 140px;
    }
    
    .boton-popup {
        left: 20px;
    }

}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 30px;
    }

    .listContainers > li {
        margin: 40px 60px;
    }

    .contenedor-mensaje {
        width: 160px;
        height: 80px;
    }

    .contenedor-tiempo {
        width: 160px;
        height: 120px;
    }

    .contenedor-tiempo > div {
        font-size: 25px;
    }

    .contenedor-mensaje > div{
        font-size: 25px;
    }

    #botones {
        width: 300px;
    }

    .letra {
        width: 40px;
        height: 40px;
        font-size: 30px;
    }

    #palabra {
        font-size: 40px;
    }
    
    .boton-popup {
        left: 20px;
    }

}